@-webkit-keyframes glow {
  0%   { background: rgba(255, 255, 255, 0); }
  50%  { background: rgba(255, 255, 255, 0.4); }
  100% { background: rgba(255, 255, 255, 0); }
}
@-moz-keyframes glow {
   0%   { background: rgba(255, 255, 255, 0); }
   50%  { background: rgba(255, 255, 255, 0.4); }
  100% { background: rgba(255, 255, 255, 0); }
}
@-o-keyframes glow {
   0%   { background: rgba(255, 255, 255, 0); }
   50%  { background: rgba(255, 255, 255, 0.4); }
  100% { background: rgba(255, 255, 255, 0); }
}
@keyframes glow {
   0%   { background: rgba(255, 255, 255, 0); }
   50%  { background: rgba(255, 255, 255, 0.4); }
  100% { background: rgba(255, 255, 255, 0); }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

* {
    box-sizing: border-box;
}

html {
    height:100%;
}

body {
    margin:0;
    
    background: #000000; /* Old browsers */
    background: -moz-linear-gradient(top,  #000000 0%, #197b84 79%, #7db9e8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(79%,#197b84), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #000000 0%,#197b84 79%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #000000 0%,#197b84 79%,#7db9e8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #000000 0%,#197b84 79%,#7db9e8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #000000 0%,#197b84 79%,#7db9e8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

    color: #fff;
}

.welcome-header {

}

.welcome-header img {
    margin: 12px auto;
    width: 191px;
    display: block;
}

.welcome-header h1 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

.welcome-header p {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

.landing-page {

}

.button {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    display: block;
    width: 160px;
    color: #fff;
    text-transform: uppercase;
    margin: 34px auto;
    border-radius: 5px;
    border: 1px solid #FFF;
    padding: 14px;
    background: rgba(255, 255, 255, 0.3);
    clear:both;
    cursor: pointer;

    -webkit-animation: glow 1.4s ease-in-out infinite; /* Safari 4+ */
    -moz-animation:    glow 1.4s ease-in-out infinite; /* Fx 5+ */
    -o-animation:      glow 1.4s ease-in-out infinite; /* Opera 12+ */
    animation:         glow 1.4s ease-in-out infinite; /* IE 10+, Fx 29+ */
}

.enter-details,
.loading-screen,
.ready-screen {
    display: none;
}

.enter-details #player-name {
    display: block;
    margin: auto;
    background-color: #000;
    color: #FFF;
    border: 0;
    padding: 14px;
    font-size: 36px;
    text-align: left;
    width: 146px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.enter-details label {
    display: block;
    text-align: center;
    margin-left: -2px;
    font-family: 'Orbitron', sans-serif;

}
.enter-details .choose-color {
    display: block;
    margin: 14px 24px 6px;
}

.player-name {
    text-transform: uppercase;

}

.row {
    display: block;
    float:left;
    width: 206px;
    clear: both;
    margin-left: calc(50% - 103px);
}

.row:after {
    float:left;
}

.row input {
    opacity: 0;
    width:40px;
    height:40px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin:0;
}

.row input:hover {
    cursor:pointer;
}

.row input:checked + span {
    border:4px solid #fff;
    margin-top: -4px;
    margin-left: -4px;
    width:48px;
    height:48px;
}

.color-wrapper {
    position:relative;
    width: 40px;
    height: 40px;
    display: block;
    float: left;
    margin: 14px;
}

.color-square {
    width:40px;
    height:40px;
    display: block;
    float:left;
}

.color-square.black {
    background-color: #000;
}

.color-square.white {
    background-color: #fff;
}

.color-square.blue {
    background-color: #10B4CC;
}

.color-square.green {
    background-color: #2FCC18;
}

.color-square.red {
    background-color: #E8090A;
}

.color-square.yellow {
    background-color: #FCFF00;
}

.color-square.grey {
    background-color: #666666;
}

.color-square.brown {
    background-color: #8F6822;
}

.color-square.amber {
    background-color: #EC9516;
}

.error-message {
    color:#e8090a;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    padding:0 10%;
    font-size:18px;
    display:none;
}

.ready-screen {
    font-family: 'Orbitron', sans-serif;
}

.ready-screen p {
    font-family: 'Orbitron', sans-serif;
    padding: 8px 14px;
}

.ready-screen ul {
    margin:0;
    padding:0;
    list-style: none;
}

.ready-screen li {
    float: left;
    margin: 1%;
    padding: 14px;
    border-radius: 4px;
    width: 31%;
    text-align: center;
}

li .name {
    padding-top: 22px;
    float: right;
    text-transform: uppercase;
}

.ffffff {
    color: #000;
}

.000000 {
    color: #fff;
}

.car-identifier {
    padding-top: 22px;
    margin-bottom:8px;
}

.car-identifier img {
    float: left;
    margin-top: -24px;
    margin-right: 10px;
}

.car-identifier .car-color {
    font-weight:600;
}

.car-color.orange {
    color:#E77D20;
}

.car-color.red {
    color:#E84A3A;
}

.car-color.yellow {
    color:#F3C60C;
}

.car-color.blue {
    color:#3297DA;
}

.car-color.green {
    color:#2BCD70;
}

.car-color.olive {
    color:#119077;
}

.car-color.white {
    color:#BDC2C7;
}

.car-color.grey {
    color:#7C8A8E;
}

.car-color.purple {
    color:#9956B4
}
