.car {
    background-image: url('../img/car.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    margin-left: calc(50% - 100px);
    position:relative;
}

.car .wheel {
    position: absolute;
    width: 20px;
    height: 48px;
    background-color: #000;
}

.car .left {
    left: 34px;
    top: 12px;
}

.car .right {
    right: 34px;
    top: 12px;
}